modules/localConfig.pm
modules/localConfig\.pm
*modules/localConfig.pm
*localConfig.pm
dataTest/*
modules/Capture/
modules/Data/
modules/Test/
GLOBAL_ANALYSIS*
test/blockTestConfig.txt
test/software.config.txt
test/SNPdiscoveryPairedTest.config.txt
/data/testData/fastq/assembly/pairedOneIndivuPacaya/g02L5Mapped_R1.fq.readcount
/data/testData/fastq/assembly/pairedOneIndivuPacaya/g02L5Mapped_R2.fq.readcount
/data/testData/fastq/assembly/pairedOneIndivuPacaya/g02L5Mapped_R1.readcount
/data/testData/fastq/assembly/pairedOneIndivuPacaya/g02L5Mapped_R2.readcount
individuSoft.txt

